# Python
venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.env

# Node
node_modules/
npm-debug.log*

# Playwright
/test-results/
/playwright-report/
/blob-report/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Playwright
/playwright/.cache/
/playwright/.auth/
